@font-face {
  font-family: 'Avenir' !important;
  src: url('/public/fonts/Avenir-Medium.ttf')  format('truetype') !important;
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Avenir' !important;
  background-color: #fafafa !important;
}

.text-red {
  color: #f1632b !important
}

.text-red-div {
  display: flex;
  align-items: center;
}

.nav-text-2 {
  display: none !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #f1632b !important;
  border: 1px solid #f1632b !important;
}

.btn-outline-danger, .btn-outline-danger2 {
  color: #f1632b !important;
  border: 1px solid #f1632b !important;
  background-color: #fff !important;
}

.btn-outline-danger2:hover {
  color: #fff !important;
  border: 1px solid #f1632b !important;
  background-color: #f1632b !important;
}

.left-div1 {
  width: 90%;
  display: flex;
  justify-content: space-around; 
  margin: auto;
}

.left-div {
  width: 45%;
}

.left-card {
  width: 45rem !important;
  height: 28rem !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 0 !important;
  border: none !important;
  border-radius: 4px;
  box-shadow: 1px -1px 12px -1px rgba(204,198,198,0.49);
-webkit-box-shadow: 1px -1px 12px -1px rgba(204,198,198,0.49);
-moz-box-shadow: 1px -1px 12px -1px rgba(204,198,198,0.49);
}

.left-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.left-card-body {
  line-height: 3;
  width: 90%;
  margin: auto 0 !important;
}

.journey-sec-w {
  width: 30%; 
  margin-right: 0;
}

.journey-div-w {
  width: 30rem; 
  height: 30rem;
}

.text-red-div {
  display: flex; 
  align-items: center;
}

.trial-title {
  margin-left: 200px !important;
}

.bootcamp-sec-div-container {
  width: 75%; 
  display: flex; 
  justify-content: space-between;
}

.bootcamp-sec-flex-container {
  display: flex; 
  justify-content: space-around;
}

.bootcamp-img-div {
  display: flex; 
  justify-content: space-around; 
  align-items: center;
}

.bootcamp-img-div {
  display: flex; 
  justify-content: space-around; 
  align-items: center;
}

.upgrade-div {
  margin-right: 80px;
}

.trial-div1 {
  width: 80%;
}

.trial-div-2 {
  display: flex; 
  justify-content: space-between; 
}

.trial-div-3 {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
}

.trial-flex-div {
  display: flex; 
  justify-content: space-around; 
  align-items: center;
}

.right-section {
  margin-left: 0;
  margin-right: 100px;
}

.card1-btn {
  width: 280px;
  margin-bottom: 15px;
  margin-right: 20px;
}

.dropdown-toggle:focus, .dropdown-toggle:active  {
  outline: none !important;
  border: none !important;
  content: none !important;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-toggle {
  background-color:transparent !important;
  border: none !important;
  outline: none !important;
}

.dropdown-item {
  outline: none !important; border: none !important;
}

.dropdown-item:focus {
  outline-style: none !important;
  border: none !important;
  text-decoration: none !important;
  background-color: #ddd !important;
}

.navbar-mobile {
  display: none !important;
}

.main-div-mobile {
  display: none !important;
}

/* @media only screen and (max-width: 600px) */

@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 600px) {
    body {
      width: 100% !important;
      display: flex;
      flex-direction: column;
    }

    main {
      margin: 0 !important;
    }

    .main-div {
      display: none !important
    }

    .main-div-mobile {
      display: block !important
    }

    .navbar {
      display: none !important;
    }

    .navbar-mobile {
      display: flex !important;
      align-items: center !important;
      justify-content: space-evenly !important;
      width: 100% !important;
      height: 50px !important;
    }

    .left-div1 {
      width: 100% !important;
      display: flex !important;
      justify-content: space-around !important;
      flex-wrap: wrap !important;
    }

    .nav-text {
      display: none !important;
    }

    .nav-text-2 {
      display: block !important;
      font-size: 12px !important;
    }

    .user {
      height: 15px !important;
      width: 15px !important;
    }

    .dropdown-toggle {
      font-size: 14px !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
    }

    .logo-image {
      margin-left: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 70px !important;
      height: 15px !important;
    }

    .left-card {
      width: 100% !important;
      box-shadow: none !important;
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
    }

    .left-card-top {
      width: 100% !important;
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      margin-top: 0 !important;
      margin-bottom: 0px !important;
    }

    .right-section {
      width: 75% !important;
      margin: 0 !important;
      padding: 0 0 0 20px !important;
    }

    .left-card-image {
      width: auto !important;
      margin-bottom: 50px !important;
    }

    .trial-div {
      width: 100% !important;
      margin: 30px auto 20px auto !important
    }

    .padded-a {
      padding: 10px 0 !important;
    }

    .upgrade-div {
      width: 80%; align-items: center;
    }

    .journey-section {
      width: 90%;
    }

}
